.themeToggle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--button-background);
  color: var(--button-text);
  border: 1px solid var(--input-border);
  border-radius: 8px;
  padding: 0.5rem 0.8rem;
  cursor: pointer;
  transition: all 0.2s;
  margin-left: auto;
  white-space: nowrap;
  padding-top: 0.7rem;
}

.themeToggle:hover {
  background-color: var(--button-hover);
  transform: translateY(-2px);
  box-shadow: 0 2px 4px var(--shadow-color);
}

.themeToggle svg {
  width: 18px;
  height: 18px;
}

.themeLabel {
  font-size: 0.9rem;
  font-weight: 500;
}

@media (max-width: 800px) {
  .themeToggle {
    padding: 0.5rem 0.7rem;
  }
  
  .themeLabel {
    font-size: 0.8rem;
  }
}

@media (max-width: 600px) {
  .themeToggle {
    padding: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
  }
  
  .themeLabel {
    display: none;
  }
  
  .themeToggle svg {
    width: 16px;
    height: 16px;
  }
}